{{ define "content" }}
<div class="col s12 card c-padding-top-20 c-padding-bottom-10">
  <div class="col s4">
    <form class="c-form" action="" method="post">
      <div class="input-field col s12">
        <input id="nickname" name="Nickname" type="text" class="validate" required>
        <label class="active" for="nickname">Nickname</label>
      </div>
      <div class="input-field col s12">
        <input class="btn blue" type="submit" value="Enter" />
      </div>
    </form>
  </div>
</div>
{{ end }}
